<header class="header">
  <nav class="navBar">
    <h1 class="navBar-heading">
      <a href="/" class="navBar-menu-li-a">Katie & Ted</a>
    </h1>
    <button id="hamburger-button" class="hamburger hamburger--slider" type="button">
      <span class="hamburger-box">
        <span class="hamburger-inner"></span>
      </span>
    </button>
    <ul id="navBarMenu" class="navBar-menu">
      <li class="navBar-menu-li">
        <a href="/" class="navBar-menu-li-a">Home</a>
      </li>
      <li class="navBar-menu-li">
        <a href="/details" class="navBar-menu-li-a">Details</a>
      </li>
      <li class="navBar-menu-li">
        <a href="/lodging" class="navBar-menu-li-a">Lodging</a>
      </li>
    </ul>
  </nav>
</header>
