<li class="registry-list-item">
  <h4 class="registry-name">{{name}}</h4>
  <p class="registry-description">{{description}}</p>
  {{#if instructions}}
    <p class="registry-instructions">{{instructions}}</p>
  {{/if}}
  <a class="registry-button-url registry-button-url-info" href="{{websiteURL}}">WEBSITE</a>
</li>
