<section class="main-section">
  <h1 class="main-section-title">Katie and Ted</h1>
  <h3 class="main-section-subtitle">August 6, 2016</h3>
  <h3 class="main-section-subtitle">Portland, OR</h3>
</section>