<main>
  <section class="main-section">
    <figure class="main-section-image"></figure>
    <h1 class="main-section-title">Katie & Ted</h1>
    <h3 class="main-section-subtitle">August 6, 2016 — Portland, OR</h3>
  </section>
</main>