<!DOCTYPE html>
<html>
  <head>
    <title>{{title}}</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <link rel='stylesheet' href='/stylesheets/reset.css' />
    <link rel='stylesheet' href='/stylesheets/hamburgers.css' />
    <link rel='stylesheet' href='/stylesheets/layout.css' />
  </head>
  <body>
    {{> header}}
    <main class="main">
      {{{body}}}
    </main>
    <script src="javascripts/navbar-toggle.js"></script>
  </body>
</html>
