.details-main-image {
  display: block;
  background-image: url("../images/yacht-club.jpg");
}

.details-section {
  display: block;
  padding: 40px;
}

.details-section:last-of-type {
  margin-bottom: 120px;
}

.details-section-header {
  margin-bottom: 20px;
  font-size: 4em;
  text-decoration: underline;
}

.details-list-item {
  font-size: 2.5em;
}

@media screen and (min-device-width: 768px) {
  .details-section {
    padding: 20px 40px;
  }

  .details-section-header {
    margin-bottom: 10px;
    font-size: 2em;
  }

  .details-list-item {
    font-size: 1.25em;
  }
}