@import "./day.css";

.details-banner {
  background-image: url("../images/yacht-club.jpg");
}

.details-title {
  margin-bottom: 20px;
  font-size: 2em;
  font-weight: bold;
}

.details-agenda {
  display: flex;
  flex-direction: column;
}

@media (min-width: 768px) {
  .details-title {
    font-size: 2.5em;
  }

  .details-agenda {
    flex-direction: row;
    justify-content: space-between;
  }
}
