@import "./nav-bar.css";

.header {
  display: block;
  background-color: #AA8539;
  color: #FFF;
  font-size: 2em;
  font-weight: bold;
}

.header-banner {
  display: block;
  height: 200px;
  background-size: cover;
  background-position: center;
}

@media (min-width: 768px) {
  .header-banner {
    height: 360px;
  }
}