html, body, main, button, header, nav, ul, li, figure, h1, h2, h3, a {
  margin: 0;
  padding: 0;
  border: none;
  font: inherit;
  text-decoration: inherit;
  background: transparent;
  font-size: 100%;
}

html, body {
  height: 100%;
}

body {
  font-family: Helvetica, Arial, sans-serif;
}

ul {
  list-style: none;
}