.main-section {
  display: block;
}

.main-section-image {
  height: 200px;
  background-size: cover;
  background-position: center;
}

.main-section-title
, .main-section-subtitle {
  display: block;
  text-align: center;
}

.main-section-image {
  box-shadow: 4px 4px 5px grey;
}

.main-section-title {
  font-size: 2em;
  font-weight: bold;
}

.main-section-subtitle {
  font-size: 1.5em;
}

@media (min-width: 768px) {
  .main-section-image {
    height: 360px;
  }

  .main-section-title {
    font-size: 3em;
  }
}
