.main-section {
  display: block;
}

.main-section-image {
  height: 480px;
  background-size: cover;
  background-position: center;
  margin: 0 0 36px 0;
}

.main-section-title
, .main-section-subtitle {
  display: block;
  text-align: center;
}

.main-section-image {
  box-shadow: 4px 4px 5px grey;
}

.main-section-title {
  font-size: 6em;
  font-weight: bold;
}

.main-section-subtitle {
  font-size: 3em;
}

@media screen and (min-device-width: 768px) {
  .main-section-image {
    height: 360px;
  }

  .main-section-title {
    font-size: 3em;
    font-weight: bold;
  }

  .main-section-subtitle {
    font-size: 1.5em;
  }

}
